################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/20180204_beforeMerge.zip
*.bak
